
<section class="c-block namo p-0">


    <div class="namo-image"><img src="assets/images/visionary/vdada.jpg" alt=""></div>
    <div class="namo-quote">
        <h3>"An exemplary householder who insists on service, simplicity and modesty." </h3>

        <h6> <a href="https://youtu.be/_-ntpkeG7O4" target="_blank" style="color: #fff;"> - Shree Vitthalbhai J. Patel</a> </h6>

        <!-- <a target="_blank" href="https://www.pmindia.gov.in/en/tag/pmspeech/"
            class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

    </div>

</section>
<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From The Secretary of Charotar Education Society</h2>
                    <h5>Ketan Patel
                        <br>
                        <span>- Secretary, CES</span>
                    </h5>
                    <p>One of the most crucial and necessary aspects of a student's life is education. It enables
                        students to do analysis when making critical life decisions. Education is important for students
                        because, after receiving a sufficient education, they will be able to choose a suitable job
                        path. so that kids might use education to prosper in life. </p>
                    <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a>

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <h2>VC Auction for Gift/ Mementos</h2>
                    <p> Education of Girls is important for bringing a balance in the society and Gujarat Govt. is also
                        promoting girl child Education.</p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>
                </div>
            </div>
        </div>
    </div>
</section>