<app-navbar></app-navbar>

<body class="defult-home nav-expanded">
    <!-- Main content Start -->

        <app-home-slider></app-home-slider>
        <!-- <app-home-banner></app-home-banner> -->
        <app-image-text></app-image-text>
        <!-- <app-text-image></app-text-image> -->
        <app-statistics-incrementor></app-statistics-incrementor>
        <app-section-message></app-section-message>
        <app-academic-categories></app-academic-categories>
        <app-section-course></app-section-course>
        <app-competition-certificate></app-competition-certificate>
        <!-- <app-news-message></app-news-message> -->
        <footer id="rs-footer" class="rs-footer">
            <app-footer></app-footer>
        </footer>

</body>